<h1>Forgot your password?</h1>

<p>
	Please enter the email address you use to login.  We will send you an email with further instructions.
</p>
<br />
<%= form_tag :controller => "users", :action => "forgot_password" do %>
  <p>
    <%= label_tag :email %><br />
    <%= text_field_tag :email, params[:email] %>
  </p>
  <br/>
  <p class="button"><%= submit_tag "Reset Password" %></p>

<% end %>
