<h1>Editing Status</h1>

<% form_for(@item_status) do |f| %>
	<%= render :partial => 'form' %>

	<fieldset>
    	<%= f.submit "Update" %>
		<%= link_to 'Show', @item_status %> |
		<%= link_to 'Back', item_statuses_path %> |
  	</fieldset>
<% end %>