<h1>New Item_status</h1>

<% form_for(@item_status) do |f| %>
	<%= render :partial => 'form' %>

  	<fieldset>
    	<%= f.submit "Create" %>
		<%= link_to 'Back', item_statuses_path %>
  	</fieldset>
<% end %>