html, body, div, span, h1, h2, h3, h4, h5, h6, p, a,img, strong, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse:collapse;
}
a{
	color:#c47c16;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

body {
	background-color: #675c47 ;
	margin: 0;
	padding: 0;
    font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
  	color: #333;
}
#wrapper {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background-color:#efe5d0;
  
  padding-top: 10px;
  padding-bottom: 50px;
  padding-left:20px;
  padding-right:0px;
  margin-top: 0px;
  margin-bottom:10px;
  display: block;
  margin-left: auto;
  margin-right: auto ;
  position: relative;
  width: 880px;
}

#sidebar {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
/*  background-color: #edd68a;*/
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left:16px;
  padding-right:8px;
  margin-top: 20px;
  margin-bottom:10px;
  display: block;
  margin-left: 0px ;
  margin-right: 0px ;
  position: relative;
  width: 25%;
  float: left;
}

#sidebar a{
/*	color:#333;*/
}

.side_title{
/*	color:#675c47;*/
}

#item_catalog {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background-color:#efe5d0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left:0px;
  padding-right:0px; 
  margin-top: 20px;
  margin-bottom:10px;
  display: block;
  margin-left: 0px ;
  margin-right: 0px ;
  position: relative;
  width: 70%;
  float: right;
}

.container{
  width: 880px;
  margin: 0 auto;
  overflow: hidden;
  display: block;
}


#content {
  display: inline;
  width: 750px;
}

#flash {
  padding-top: 10px;
  color: #618618;	
}

.required {
	color: red;
	display:inline
}

.top_link a{
  float: right;
  padding-left:10px;
  padding-top:10px;
  color:#0aacd2;
  text-decoration:underline;
  	
}


#header #logo{
  float: left;
  padding-right:0px;
  padding-top:0px;
}

#header #loginfo{
	float: right;
	padding-left:10px;
    padding-top:10px;
    color:#0aacd2;
}

#header {
  width:100%;
  background-color: #333;
  height: 120px;
  padding: 0px;
  font-size:100%;
  line-height:normal;
}

#header #nav a{
  display:block;
  padding:0px 10px;
  text-decoration:none;
  font-weight:bold;
  color:#765;
  -moz-border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  background-color:#efe5d0;
   padding-top:8px;
   padding-bottom:8px;
}

#header #nav{
  clear:both;
  float:right;
  margin-top:0;
  padding:0;
  list-style:none;
}

#header #nav li {
  float: left;
  margin: 10px 3px;
  padding-bottom:0px;
  margin-bottom: 0px
}

#header #nav a:hover,
#header #nav a:focus {
  color:#333;

}
.sidebar_item{
	margin-bottom: 10px;
}

#most_viewed{
	float: left;
}

#footer{
	margin:0px 10px 10px 0px;
	font-size:12px;
	color:#efe5d0;
	text-align:center;
}
ol, ul { 
	list-style: none; 
}

ul.item_listing {
  list-style: none;
  margin-bottom: 10px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  
}



ul.item_listing li {
  float: left;
  text-align: center;
  width: 150px;
  height: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left:0px;
  padding-right:4px;
  margin-bottom: 10px;
  margin-top: 0px; 
   margin-left: 0px;
  margin-right: 0px;
  
}

ul.item_listing li img {
  display: block;
  margin: auto;
}

h1 {
  font-weight: normal;
  color: #222;
  font-size: 2em;
  line-height: 1;
  margin-bottom: 10px;
  padding-top: 16px;
}
h2 {
  font-weight: normal;
  color: #222;
  font-size: 1.5em;
  margin-bottom: 5px;
}
h3 {
  font-weight: normal;
  color: #222;
  font-size: 20px;
  margin-bottom: 3px;
}

table.user_edit{
	margin-bottom: 20px;
}


/* Catalog */
div.catalog {
	border-collapse:collapse;
	float:left;
	
}
.catalog td {
	padding: 8px 8px 8px 8px;
	vertical-align:top;
	margin-bottom: 320px;
	border-bottom: 0px black solid;
}
.catalog img {
	border: 0;
	width:120px;
}
.title {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 16px;
}

.description {
	margin-bottom: 16px;
}
.links {
	float: left;
	text-align: left;
}
.price {
	color: #4e4e4e;
	font-weight: 800;
	font-size: 14pt;
	text-align:right;
}
/* Cart */
table.cart {
	border-collapse:collapse;
}
.cart td {
	padding: 8px 8px 8px 8px;
	vertical-align:top;
	border: 1px black solid;
}
.cart img {
	border: 0;
	width:60px;
}
.cart .legend {
	font-weight: bold;
}
.cart .title {
	font-size: 16px;
	font-weight:normal;
}
.cart .price {
	color: #4e4e4e;
	font-size: 16px;
	font-weight:normal;
}
.cart .quantity {
	color: black;
	font-size: 16px;
	text-align: center;
}
.cart .quantity form, .cart .quantity form div {
	display: inline;
}
.cart .total {
	font-weight: bolder;
	text-transform:uppercase;
	text-align: right;
}
pre {
	background-color: #eee;
	padding: 10px;
	font-size: 11px;
}
#error_explanation {
	
	font-size: 13px;
	color: #e0262b;
	padding-top: 0px;
  padding-bottom: 0px;
  padding-left:0px;
  padding-right:0px;
  margin-bottom: 20px;
  margin-top: 0px; 
   margin-left: 0px;
  margin-right: 0px;
  
}
/*.fieldWithErrors {
	padding: 2px;
	background-color: red;
	display: table;
}
#errorExplanation {
	width: 400px;
	border: 2px solid red;
	padding: 7px;
	padding-bottom: 12px;
	margin-bottom: 20px;
	background-color: #f0f0f0;
}
#errorExplanation h2 {
	text-align: left;
	font-weight: bold;
	padding: 5px 5px 5px 15px;
	font-size: 12px;
	margin: -7px;
	background-color: #c00;
	color: #fff;
}
#errorExplanation p {
	color: #333;
	margin-bottom: 0;
	padding: 5px;
}
#errorExplanation ul li {
	font-size: 12px;
	list-style: square;
}*/

/*.flash {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 1.3em;
  margin-bottom: 1em;
  padding: 0.8em;
}
.flash.notice {
  background: #ccddff url(../images/shadow_top.png) 0px -50px repeat-x;
  color: #556699;
  border: 1px solid #99aacc;
}
.flash.errors {
  background: #f4b4b4 url(../images/shadow_top.png) 0px -50px repeat-x;
  color: #000000;
  border: 1px solid #000000;
}
.formError {
  font-size: 1.3em;
  margin-bottom: 1em;
  padding: 0.8em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #f4b4b4 url(../images/shadow_top.png) 0px -50px repeat-x;
  color: #000000;
  border: 1px solid #000000;
}
.formError p { margin: 0px; }
.formError ul { margin-bottom: 0px; }
.formError h2 {
  font-weight: bold;
  font-size: 1em;
  margin: 0px;
}
.errorExplanation {
  font-size: 1.3em;
  margin-bottom: 1em;
  padding: 0.8em;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #f4b4b4 url(../images/shadow_top.png) 0px -50px repeat-x;
  color: #000000;
  border: 1px solid #000000;
}
.errorExplanation p { margin: 0px; }
.errorExplanation ul { margin-bottom: 0px; }
.errorExplanation h2 {
  font-weight: bold;
  font-size: 1em;
  margin: 0px;
}
.fieldWithErrors { clear: none; }*/

/*******************NEW*******************/
/*items form*/

div.item_left {
  display: block;
  width: 350px;
  margin-bottom: 20px;	
  margin-left: 40px;
}

div.item_right {
  display: block;
  float: right;
  margin-right: 230px;
  margin-bottom: 10px;
}

div #mng_item {
	margin-left: 40px;
}

div #mng_order {
	margin-left: 40px;
}

div #mng_user {
	margin-left: 40px;
}

div #mng_img {
	margin-left: 40px;
}

.paddingspace{
	
	margin-left: 40px;
}


/*item show page */
#item_left {
  display: inline;
  float: left;
  width: 350px;
  margin-right: 20px;
  padding-left: 40px;
  margin-bottom: 0px;
}

#title {
	margin-left: 40px;
}

#item_desc{
	clear:both;
	margin-top: 0px;
	margin-bottom: 20px;
	padding-left: 40px;
}

table#comments {
	clear: both;
	margin-bottom: 20px;
}

.table_display{
	margin-bottom:20px;
}
.table_display td{
	padding-top:10px;
	border-top:0px black solid;
	margin-bottom: 10px;
}

/* Button  */
button.primary, a.button.primary, input.button.primary {
  padding:6px 2px 10px 2px;
  line-height: 1.2em;
  font-weight: bold;
}

/* Paginate */
.pagination {
	width: 750px;
	text-align: right;
	font-size:0.9em;
	padding:2px; 
	margin: -10px 0px 10px 2px; 
}
.pagination a{
/*	font-size:0.9em;*/
	padding: 2px; 
	margin: 2px; 
	/*border: 1px solid #999; */
	text-decoration: none; 
}
.pagination a:hover{
/*	border: 1px maroon solid;*/
	text-decoration: underline; 
	/*background: none repeat scroll 0 0 #FFFDDA;*/
}

/*.pagination span.current{ 
	border: 1px solid #000; 
	font-weight: bold; 
}

.pagination span.disabled { 
	padding: 2px 5px 2px 5px; 
	margin: 2px; 
	border: 1px solid #999; 
}*/

/*image and thumbnails display*/
.main_img{
	height: 300px;	
	border: 0px solid #fff;
	display:block;
	text-align:center;
	margin-top: 5px;
}
.sub_img{	
	border: 0px solid #fff;
	display:block;
	padding: 2px;
}


ul.thumbnails{
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.thumbnails li {
  padding: 0;
  display: inline-block;
  position: relative;
/*  border: 1px solid silver;*/
}
ul.thumbnails li img{
  padding: 0;
  display: inline-block;
  position: relative;
/*  border: 1px solid silver;*/
}

div.main_right{
	float:right;
	margin-right:20px;	
}

#most_viewed ul{
	display:inline;
	margin-left:20px
}

/*Tablesorter styles*/
.manage_table{
	min-width:750px;
	margin-bottom: 10px;
}

.manage_table th, td {
	padding: 5px 10px 5px 10px !important;
	text-align: left;
	vertical-align: top;
}

.manage_table th{
	background: #b9c9fe;
	border-top: 4px solid #aabcfe;
	border-bottom: 1px solid #fff;
	/*color: #765;*/
}
.manage_table td{
	background: #eee;
	border-bottom: 1px solid #fff;
/*	color: #666;*/
	border-top: 1px solid transparent;
}
.manage_table tr:hover td{
	background: #d0dafd;
	color: #666;
}
input.ui-autocomplete-input{
	border: 1px solid #aaa;
}
#SearchInput{
	height: 20px;
	margin-right:-20px;
	margin-bottom:30px;
	vertical-align: top;
	width:150px; 
	-moz-border-radius: 8px 8px 8px 8px;
	-webkit-border-radius: 8px 8px 8px 8px;
}
#SearchInput img{
	border: 0px;
}

.ui-autocomplete{
	width:150px;
}
